body{
	background-color: #f4f7ed;
	font-size: 16px;
	color: #556B2F;
	font-family: Lucida Sans;
	width: 90%;
	margin: 10px auto ;
}
header{
	background-image: linear-gradient(rgba(118, 141, 63, 0.3), rgba(118, 141, 63, 0.3)), url("https://i.pinimg.com/originals/df/b3/69/dfb369b7094a56688e0b7fe4afb3035e.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #768d3f;
	padding: 50px;
	border-radius: 5px;
	margin-top: 5px;
	}
header h1.judul,
header h3.deskripsi {
	text-align: center;
	color: #ffffff;
	}

div.menu ul{
	list-style-type: none;
	overflow: hidden;
	margin:0;
	padding:0;
	}
div.menu ul li{
	float: right;
}
li a, .dropbtn {
	display: block;
	color: #556B2F;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}
li a:hover:not(.active), .dropdown:hover .dropbtn {
	border-bottom: 5px solid #dfe7ca;
	font-weight: bold;
}
li.dropdown {
	display:inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
	color: #556B2F;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown-content a:hover {
	background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.active {
	border-bottom: 5px solid #556B2F;
	color: #556B2F;
	font-weight:bold;
}